<div class="todo-list" [style.background]="getBackGround(25)" >
  <div class="header row" [style.background]="getBackGround(35)">
    <div class="col-1 col-a">
      <div ngbDropdown class="d-inline-block">
        <i class="fas fa-sliders-h drop-down-trigger" ngbDropdownToggle></i>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
          <ul>
            <li *ngFor="let color of colors" [style.background]="color" (click)="setBackground(color)">&nbsp;&nbsp;&nbsp;</li>
          </ul>
        </div>
      </div>


    </div>
    <div class="col col-b">
      {{todoList.title}}
    </div>
    <div class="col-1 col-a">
      <i class="fas fa-plus" (click)="addNewTodo(todoList.currentTodo ? todoList.currentTodo : todoList.todos[todoList.todos.length - 1])"></i>
    </div>
  </div>
  <app-todo
    *ngFor="let todo of todoList.todos;"
    [todo]="todo"
    (addTodo)="addNewTodo($event)"
    (click)="setCurrentTodo(todo)"
  ></app-todo>
  <div class="footer row">
    <div class="col col-a red-border-right">
      <i class="far fa-trash-alt"></i>
    </div>
    <div class="col-10 col-b red-border-left">
    </div>
  </div>
</div>
