<div class="main" (mouseenter)="showTools()" (mouseleave)="hideTools()">
  <div id="not-done" class="row" *ngIf="!todo.isDone">
    <div class="col col-a red-border-right">
      <i class="far fa-square" (click)="changeStatus(true)"></i>
    </div>
    <div class="col col-b what red-border-left">
      <textarea #editor (keydown)="editorKeyDown($event)" (keyup)="editorKeyUp()" [(ngModel)]="todo.what" rows="1"> </textarea>
    </div>
    <div class="col col-a" [hidden]="!toolsIsVisible">
      <i class="far fa-trash-alt"></i>
      <i class="far fa-bell"></i>
    </div>
  </div>
  <div id="done" class="row" *ngIf="todo.isDone">
    <div class="col col-a red-border-right">
      <i class="far fa-check-square" (click)="changeStatus(false)"></i>
    </div>
    <div class="col col-b red-border-left what">
      <span>{{todo.what}}</span>
    </div>
    <div class="col col-a" [hidden]="!toolsIsVisible">
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</div>
