.main {
  border-bottom: 1px solid cornflowerblue;
  background: transparent;
  .row {
    margin: 0;
    .what {
      span {
        overflow-wrap: break-word;
        display: block;
        width: 100%;
        max-width: 100%;
      }
      textarea {
        padding: 0;
        border-width: 0;
        width: 100%;
        resize: none;
        overflow:hidden;
        display: block;
        background: transparent;
      }
      textarea:focus {
        outline: 0;
      }
    }
  }
  .done {
    text-decoration: line-through;
  }
}
